# Visual Studio Code Settings
.vscode

# Distribution directories and files
*.egg-info

# Python cache
**/__pycache__/**

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Virtual Environment
venv

# Environment variables
**/.env

# Artifacts
*.csv